

<section>

  <h2>YOUR TASKS</h2>
  <ol>
    <% @tasks.each do |task| %>
      <li>
        <h3>
            <%= "#{task.name}"%>
        </h3>
        <p>
            <%= "Description: #{task.description} || Completion_date: #{task.completion_date}" %>
        </p>
        <ul>
          <li>

            <% if task.completion_date != nil %>
              <section class="complete">
            <%else%>
              <section>
            <%end%>

            <% if task.completion_date != nil %>
              <%= link_to "Unmark Complete", mark_complete_path(task.id), method: :patch %>
            <%else%>
              <%= link_to "Mark Complete", mark_complete_path(task.id), method: :patch %>
            <%end%>

            </section>
          </li>

          <li><%=link_to "Edit", edit_task_path(task.id)%></li>
          <li><%=link_to "Delete", task_path(task.id), method: :delete , data: {confirm: "Are you sure?"}%></li>
        </ul>
      </li>

    <% end %>
  </ol>
</section>
