<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>TASKLIST</h1>
    <nav>
      <ul>
        <li>
          <%= link_to "Add Task", new_task_path %>
          <!-- <a href="<%= new_task_path%>">
            Add
          </a> -->
        </li>
        <li>
            <%= link_to "All Tasks", tasks_path %>
        </li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>copywrite 2017</p>
    </footer>
  </body>
</html>
